body{
    text-align: center;
    /* background-color: antiquewhite; */
    background-color:aliceblue;
    transition: background-color 0.5s ease;
}
.btn{
    height: 170px;
    width: 170px;
    border-radius: 30px;
    border: 10px solid black;
    margin: 1.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red
{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;

}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: aqua;
}
.game-over {
    background-color: red;
}